{% extends 'base.html' %}

{% load static %}

{% block main_content %}
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container-fluid">

        <div class="row">
          <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch position-relative">
            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox play-btn mb-4"></a>
          </div>

          <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
              <h3>Sonya Tomanova - speach therapist</h3>
            <p>Introducing Sonya Tomanova – a dynamic and compassionate speech therapist dedicated to helping children unlock their full communication potential. With her youthfulness and vibrant energy, Sonya brings a fresh perspective to therapy sessions, creating an engaging and supportive environment where children thrive.
            </p>

            <div class="icon-box">
              <div class="icon"><i class="bx bx-fingerprint"></i></div>
              <h4 class="title"><a href="">Master's degree in "Speach Therapy"</a></h4>
              <p class="description">In 2022, Ms.Tomanova obtained a master's degree in the specialty "Speech Therapy" at the "Neophit Rilski State University"</p>
            </div>

            <div class="icon-box">
              <div class="icon"><i class="bx bx-gift"></i></div>
              <h4 class="title"><a href="">Working with children with autism</a></h4>
              <p class="description">Over the past years, Ms.Tomanova have gained a lot of professional experience  working with children with autism.</p>
            </div>

            <div class="icon-box">
              <div class="icon"><i class="bx bx-atom"></i></div>
              <h4 class="title"><a href="">Certified in the Montessori method for children with Special needs</a></h4>
              <p class="description">The Montessori method, developed by Dr. Maria Montessori, emphasizes a child-centered approach to education, focusing on independence, self-direction, and hands-on learning.</p>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->
{% endblock %}