{% extends 'base.html' %}

{% load static %}

{% block main_content %}
 
    <section class="h-auto" style="background-color: #f4f5f7;">
      <div class="container  card bg-white mb-3 " style="max-width: 60rem;">
        <div class="section-title-registration">
          <h2>Thank you for contacting us!</h2>
            <img src="{% static 'img/stc_logo_big.png' %}" height="120" alt="The Speech Therapy Center Logo">
          <p>We'll get back to you as soon as possible.</p>
        </div>
      </div>
    </section>
    
{% endblock %}