{% extends 'base.html' %}

{% load static %}

{% block main_content %}
    
    <section id="appointment" class="appointment section-bg">
      <div class="container">
        <div class="section-title-registration">
          <h2>Are you sure you want to delete your profile?</h2>
          <p>This action cannot be undone. All your data will be lost.</p>
          <form action="{% url 'delete profile' pk=object.pk %}" method="post">
            <input class="btn btn-primary" type="submit" value="Yes">
            {% csrf_token %}
          </form>
        </div>
      </div>
    </section>
{% endblock %}
