{% extends 'base.html' %}

{% load static %}
{% load filters %}
{% block main_content %}
    <section id="appointment" class="appointment section-bg">
      <div class="container">
        <div class="section-title-registration">
          <h2>Welcome to The Speach Therapy Center</h2>
            <p>Thank you for choosing our Speech Therapy services.</p>
            <p>Please log in to your account to begin your journey towards improved communication and enhanced speech.</p>
            
            <form action="{% url 'signin user' %}" method="post">
                <div class="php-email-form">
                    <p>
                        {{ form.username|placeholder:'Email:' }}
                    </p>
                    <p>
                        {{ form.password|placeholder:'Password:' }}
                    </p>
                </div>
                
                <button type="submit" class="btn btn-primary">Log in</button>
                  
                {% csrf_token %}
            </form>
             <p>Don't have an account? <a href="{% url 'signup user' %}" >Register</a></p>
        </div>
      </div>
        
   
{% endblock %}