{% extends 'base.html' %}

{% load static %}
{% load filters %}

{% block main_content %}
    <section class="h-auto" style="background-color: #f4f5f7;">
      <div class="container">
        <div class="section-title-registration">
            {% if full_name %}
                    <h2>{{ full_name }}'s Diary: </h2>
                {% else %}
                    <h3>{{ user_email }}'s Diary:</h3>
                {% endif %}
        
        {% if appointments.count > 0 %}
            <h6> You have {{ appointments.count }} appointment</h6>
                    {% for appointment in appointments %}
                        <p class="list-group mt-2">Day: {{ appointment.day }}</p>
                        <p class="list-group mt-2">Time: {{ appointment.time }}</p>
                        <p class="list-group mt-2">Service: {{ appointment.service }}</p>
                        <div class="mt-3 mb-2">
                            <a class="btn btn-primary rounded-3 p-2" href="{% url 'user_update' appointment.id %}">Edit Appointment</a>
                        </div>
                    {% endfor %}
        {% else %}    
            <h5>You don't have appointments !</h5>
        {% endif %}
        </div>
      </div>
    </section>

{% endblock %}







