{% extends 'base.html' %}

{% load static %}
{% load filters %}

{% block main_content %}
    <section class="h-auto" style="background-color: #f4f5f7;">
      <div class="container card bg-light mb-3 justify-content-center align-items-center" style="max-width: 60rem;">
        <div class="section-title-registration">
            <div class="shadow p-4 mb-5 bg-body bg-body rounded text-black text-center m-5">
                <form method="post" action="{% url 'appointment update submit' id %}" class="me-2 ms-2" required>
                    <h3 class="text-center fPersian mt-4">Time:</h3>
                    <div>
                        <select class="form-select-lm text-center" name="time">
                            {% for time in times %}
                                <option value="{{time}}">{{time}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary text-white mt-3 fPersian">Submit</button>
                    {% csrf_token %}
                </form>
            </div>
        </div>
      </div>
    </section>
   
    
{% endblock %}