{% extends 'base.html' %}

{% load static %}
{% load filters %}

{% block main_content %}
    <section class="h-auto" style="background-color: #f4f5f7;">
      <div class="container d-flex justify-content-center align-items-center">
        <div class="section-title-registration ">
        <h3>Appointments dashboard</h3>
        {% if appointments.count > 0 %}
            {% for appointment in appointments %}
                {% if month == appointment.day.month and day <= appointment.day.day or month < appointment.day.month%}
                    <div class="card bg-light mb-3 justify-content-center align-items-center m-4"  style="max-width: 35rem;">
                        <div class="card-header">Day: {{ appointment.day }}, Time: {{ appointment.time }}</div>
                            <div class="card-body">
                                <p class="card-text">Appointment for <strong> {{ appointment.service }}</strong></p>
                            <div class="d-grid gap-2 d-md-block">
                                <a class="btn btn-primary rounded-3 p-2" href="{% url 'appointment update' appointment.id %}">Update </a>
                                <a class="btn btn-primary rounded-3 p-2" href="{% url 'appointment delete' appointment.id %}">Delete </a>
                            </div>
                        </div>            
                    </div>
                {% endif %}
            {% endfor %}         
        {% else %}    
            <h4>You don't have appointments !</h4>
        {% endif %}
        </div>
      </div>
    </section>

{% endblock %}







