{% extends 'base.html' %}

{% load static %}

{% block main_content %}
    <section id="testimonials" class="testimonials">
      <div class="container">
        <div class="testimonial-item">
            {% if full_name %}
                <h3>Wellcome, {{ full_name }} !</h3>
            {% else %}
                <h3>Wellcome, {{ user_email }} !</h3>
            {% endif %}
        <img src="{% static 'img/speach_therapist_sonia.jpg' %}" height="60"  alt="speach_therapist_photo">
                    <i class="bx bxs-quote-alt-left quote-icon-left m-lg-2"></i>
                    My name is Sonya Tomanova, and I will be your speach therapist. By following the steps bellow, you can effectively get started with speech therapy sessions and work towards improving your communication skills.
                    <i class="bx bxs-quote-alt-right quote-icon-right "></i>
                    
            <div class="mt-3">
                <h5>Step 1: Initial Consultation:</h5>
                <ul>
                                <li>Schedule an initial consultation with us. This may involve contacting the therapy center via phone, email, or our online contact form.</li>
                                <li>During the consultation, we will discuss your concerns, goals, and any relevant medical history regarding speech and language development.</li>
                            </ul>
                <h5>Step 2: Assessment and Evaluation:</h5>
                <ul>
                                <li>The speech therapist will conduct a comprehensive assessment to evaluate speech, language, and communication skills. This may include standardized tests, observations, and interviews.</li>
                                <li>Based on the assessment results, the therapist will identify areas of strength and areas that need improvement.</li>
                            </ul>
                <h5>Step 3: Setting Goals:</h5>
                <ul>
                                <li>Collaborate with the speech therapist to set specific and measurable goals for the therapy sessions. These goals should be tailored to address the individual needs and preferences of the client.</li>
                            </ul>
                <h5>Step 4: Creating a Treatment Plan:</h5>
                <ul>
                                <li>The therapist will develop a customized treatment plan outlining the strategies and techniques that will be used to address the identified speech and language goals.</li>
                                <li>The treatment plan may include a variety of activities, exercises, and interventions designed to improve communication skills.</li>
                            </ul>
                <h5>Step 5: Therapy Sessions:</h5>
                <ul>
                                <li>Attend regular therapy sessions as scheduled. The frequency and duration of sessions may vary depending on the individual's needs and the therapist's recommendations.</li>
                                <li>During each session, the therapist will guide the client through targeted activities and exercises to work towards achieving the established goals.</li>
                            </ul>
                <h5>Step 6: Practice and Homework:</h5>
                <ul>
                                <li>Practice the skills and techniques learned during therapy sessions in everyday situations.</li>
                                <li>The therapist may provide homework assignments or activities to reinforce learning and facilitate progress between sessions.</li>
                            </ul>
                <h5>Step 7: Progress Monitoring and Adjustments:</h5>
                <ul>
                                <li>Regularly monitor progress towards the established goals through ongoing assessments and evaluations.</li>
                                <li>Based on progress, the therapist may adjust the treatment plan as needed to ensure continued improvement and success.</li>
                            </ul>
                <h5>Step 8: Continued Support and Follow-Up:</h5>
                <ul>
                                <li>Maintain open communication with the speech therapist to address any concerns or questions that may arise during the therapy process.</li>
                                <li>Follow up with the therapist as recommended to track progress and receive additional support as needed.</li>
                            </ul>
            </div>
                        
            
            
                </div>
          
{% endblock %}