{% extends 'base.html' %}

{% load static %}
{% load filters %}

{% block main_content %}
    <section id="appointment" class="appointment section-bg">
      <div class="container">
        <div class="section-title-registration">
            {% if full_name %}
                <h2>{{ full_name }}'s Diary </h2>
            {% else %}
                <h3>{{ user_email }}'s Diary !</h3>
            {% endif %}
            <h6> * you have completed {{ questionnaires_count }} questionnaires</h6>
            
                <a href="{% url 'create_questionnaire' %}" class="appointment-btn">Add questionnaire </a>
                {% for questionnaire in questionnaires %}
                    
                    <div class="q-card">
                        <h3>{{ questionnaire.created_at }}</h3>
                        <h6>"How often do you experience difficulty pronouncing certain sounds?"</h6>
                            <p class="text-muted">{{ questionnaire.question_one }}</p>
                        <h6>"Do you feel confident when speaking in public?"</h6>
                            <p class="text-muted">{{ questionnaire.question_two }}</p>
                        <h6>"Have you noticed any changes in your voice quality or pitch recently?"</h6>
                            <p class="text-muted">{{ questionnaire.question_three }}</p>
                        <h6>"Do you struggle with stuttering or stammering?"</h6>
                            <p class="text-muted">{{ questionnaire.question_four }}</p>
                        <h6>"Have you ever had difficulty understanding or following conversations?"</h6>
                            <p class="text-muted">{{ questionnaire.question_five }}</p>
                    
                        <h6>Additional comments/notes:</h6>
                        <p class="text-muted">{{ questionnaire.comments }}</p>
                    </div>
                {% endfor %}
        </div>
      </div>
    </section>
{% endblock %}

