{% extends 'base.html' %}

{% load static %}
{% load filters %}

{% block main_content %}
    <section class="h-auto " style="background-color: #f4f5f7;">
      <div class="container">
        <div class="section-title-registration">
            <h3>Patient details:</h3>
                <section class="h-auto" style="background-color: #f4f5f7;">
                    <div class="row d-flex justify-content-center align-items-center h-auto">
                      <div class="col col-lg-6 mb-4 mb-lg-0">
                        <div class="card mb-3" style="border-radius: .5rem;">
                          <div class="row g-0">
                            <div class="col-md-4 gradient-custom text-center text-white"
                              style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                            
                                {% if patient.profile_picture %}
                                    <img src="{{ patient.profile_picture.url }}" class="img-fluid my-5" style="width: 80px" alt="profile picture"/>
                                {% else %}
                                    <img src="{% static 'img/person.png' %}" class="img-fluid my-5" style="width: 80px" alt="profile picture"/>
                                {% endif %}
                                
                              <h5>{{ patient.full_name }}</h5>
                                {% if patient.date_of_birth %}
                                <p><strong>Birthday:</strong> {{ patient.date_of_birth }}</p>
                                <p><strong>Age:</strong> {{ patient.age }}</p>
                            {% endif %}
                            </div>
                            <div class="col-md-8">
                              <div class="card-body p-4">
                                  <h6>Patient Information:</h6>
                                <hr class="mt-0 mb-4">
                                <div class="row pt-1">
                                  <div class="col-6 mb-3">
                                    <h6>Email</h6>
                                    <p class="text-muted">{{ patient.user.email }}</p>
                                  </div>
                                  <div class="col-6 mb-3">
                                    <h6>Phone</h6>
                                    <p class="text-muted">{{ patient.phone_number }}</p>
                                  </div>
                                </div>
                                  <h6>Specific Information:</h6>
                                  <hr class="mt-0 mb-4">
                                  <div class="row pt-1">
                                      <div class="col-6 mb-3">
                                          <h6>Reasons for Seeking Therapy:</h6>
                                          <p class="text-muted">{{ patient.reasons_for_therapy }}</p>
                                      </div>
                                      <div class="col-6 mb-3">
                                          <h6>Previous Speech Therapy History:</h6>
                                          <p class="text-muted">{{ patient.previous_speech_therapy_history }}</p>
                                      </div>
                                  </div>
                                  <h6>Additional Notes/Comments:</h6>
                                  <hr class="mt-0 mb-4">
                                  <div class="row pt-1">
                                      <div class="col-12 mb-3">
                                          <h6>Notes:</h6>
                                          <p class="text-muted">{{ patient.additional_notes }}</p>
                                      </div>
                                  </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </section>
        </div>
      </div>
    </section>

{% endblock %}







