{% extends 'base.html' %}
{% load static %}
{% load filters %}

{% block main_content %}
    <section class="h-auto" style="background-color: #f4f5f7;">
        <div class="container">
            <div class="section-title-registration">
                <h3>Treatment Plans</h3>
                <a href="{% url 'treatment plan create' %}" class="appointment-btn mb-3">Add new treatment plan</a>
                {% if treatment_plans.count > 0 %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Patient email</th>
                                <th scope="col">Patient name</th>
                                <th scope="col">Date created</th>
                                <th scope="col">Details</th>
                            </tr>
                        </thead>
                        <tbody id="patientTableBody">
                            {% for treatment_plan in treatment_plans %}
                                <tr>
                                    <td>{{ treatment_plan.patient.user.email }}</td>
                                    <td>{{ treatment_plan.patient.full_name }}</td>
                                    <td>{{ treatment_plan.created_at }}</td>
                                    <td><a href="{% url 'treatment plan details' pk=treatment_plan.pk %}">Details</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}    
                    <h5>There are no treatment plans!</h5>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
